<h1><%= link_to "Get YouTube Data", Yt::Account.new(scopes: ["youtube"], redirect_uri: ENV['YT_REDIRECT_URI']).authentication_url, target: :_blank %></h1>

<% if @account %>
  
  <%= link_to 'Download CSV', csv_videos_path(access_token: @account.access_token), target: :_blank %>
  <hr/>
<% end %>